@import '../../App.scss';

.header__container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  font-family: 'Bangers', cursive;
  
  &__logo{
    height: 200px;
  }

  &__menu{
    margin-right: 9%;
    display: flex;
    justify-content: space-around;
  }
  
  a{
    margin-left: 100px;
    color: $font-light-color;
    text-decoration: none;
    &:hover{
      color: $color-secundary;
    }
  }
  
}